.flexbox {
  align-content: space-between !important;
  flex-flow: column wrap !important;
  display: flex !important;
  width: 300px !important;
}

.flexbox::before,
.flexbox::after {
  flex-basis: 100% !important;
  content: "" !important;
  width: 0 !important;
  order: 2 !important;
}

.flexbox .item {
  margin: 0 2px 2px 0;
  position: relative;
  width: 300px;
  left: -310px;
}

.flexbox .item:nth-child(3n+2) {
  order: 2;
}

.flexbox .item:nth-child(3n) {
  order: 3;
}
